/* div 1 */
.main1 {
    width: 60%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 60px);
    gap: 10px;
}

.child_div {
    background-color: rgb(255, 230, 0);
    text-align: center;
    font-size: 35px;
    color: #fff;
    padding-top: 10px;
}

.C_div_1 {
    grid-column: 1/13;
}

.C_div_2 {
    grid-column: 1/7;
}

.C_div_3 {
    grid-column: 7/13;
}

.C_div_4 {
    grid-column: 1/5;
}

.C_div_5 {
    grid-column: 5/9;
}

.C_div_6 {
    grid-column: 9/13;
}

.C_div_7 {
    grid-column: 1/4;
}

.C_div_8 {
    grid-column: 4/7;
}

.C_div_9 {
    grid-column: 7/10;
}

.C_div_10 {
    grid-column: 10/13;
}

.C_div_11 {
    grid-column: 1/3;
}

.C_div_12 {
    grid-column: 3/5;
}

.C_div_13 {
    grid-column: 5/7;
}

.C_div_14 {
    grid-column: 7/9;
}

.C_div_15 {
    grid-column: 9/11;
}

.C_div_16 {
    grid-column: 11/13;
}

.C_div_17 {
    grid-column: 1/2;
}

.C_div_18 {
    grid-column: 2/3;
}

.C_div_19 {
    grid-column: 3/4;
}

.C_div_20 {
    grid-column: 4/5;
}

.C_div_21 {
    grid-column: 5/6;
}

.C_div_22 {
    grid-column: 6/7;
}

.C_div_23 {
    grid-column: 7/8;
}

.C_div_24 {
    grid-column: 8/9;
}

.C_div_25 {
    grid-column: 9/10;
}

.C_div_26 {
    grid-column: 10/11;
}

.C_div_27 {
    grid-column: 11/12;
}

.C_div_28 {
    grid-column: 12/13;
}

/* End div 1 */

/* div 2 */
.main2 {

    width: 60%;
    margin: 200px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 40px);
    gap: 10px;
}

.m2_ch_div {
    background-color: rgb(115, 209, 52);
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

.m2_ch_div_1 {
    grid-row: 1/13;
}

.m2_ch_div_2 {
    grid-row: 1/7;
}

.m2_ch_div_3 {
    grid-row: 7/13;
}

.m2_ch_div_4 {
    grid-row: 1/5;
}

.m2_ch_div_5 {
    grid-row: 5/9;
}

.m2_ch_div_6 {
    grid-row: 9/13;
}

.m2_ch_div_7 {
    grid-row: 1/4;
}

.m2_ch_div_8 {
    grid-row: 4/7;
}

.m2_ch_div_9 {
    grid-row: 7/10;
}

.m2_ch_div_10 {
    grid-row: 10/13;
}

.m2_ch_div_11 {
    grid-row: 1/3;
}

.m2_ch_div_12 {
    grid-row: 3/5;
}

.m2_ch_div_13 {
    grid-row: 5/7;
}

.m2_ch_div_14 {
    grid-row: 7/9;
}

.m2_ch_div_15 {
    grid-row: 9/11;
}

.m2_ch_div_16 {
    grid-row: 11/13;
}

.m2_ch_div_17 {
    grid-row: 1/2;
}

.m2_ch_div_18 {
    grid-row: 2/3;
}

.m2_ch_div_19 {
    grid-row: 3/4;
}

.m2_ch_div_20 {
    grid-row: 4/5;
}

.m2_ch_div_21 {
    grid-row: 5/6;
}

.m2_ch_div_22 {
    grid-row: 6/7;
}

.m2_ch_div_23 {
    grid-row: 7/8;
}

.m2_ch_div_24 {
    grid-row: 8/9;
}

.m2_ch_div_25 {
    grid-row: 9/10;
}

.m2_ch_div_26 {
    grid-row: 10/11;
}

.m2_ch_div_27 {
    grid-row: 11/12;
}

.m2_ch_div_28 {
    grid-row: 12/13;
}

/* End div 2 */